<div class="row">
    <div class="col-9">
        <ng-container *ngFor="let article of articleArray">
            <app-article [article]="article"></app-article>
        </ng-container>
        <app-pagination [totalItems]="totalArticle" [limitNumber]="5" (selectPage)="handlePagination($event)"></app-pagination>

    </div>
    <div class="col-3">
        <div class="taglist">
            <p>Popular Tags</p>
            <div class="d-flex flex-wrap tags">
                <ng-container *ngFor="let tag of tagArray">
                    <span class="tagItem" routerLink="/{{tag}}" routerLinkActive="tagNameActive" (click)="renderByTag(tag)">#{{tag}}</span>&nbsp;&nbsp;
                </ng-container>
            </div>
        </div>
    </div>
</div>
