<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Register</h2>
            <form [formGroup]="registerForm" (ngSubmit)="register()">
                <div class="form-group">
                    <label for="exampleInputName1">User Name</label>
                    <input [formControlName]="'name'" type="text" class="form-control" placeholder="Enter your name">
                    <ul class="text-danger" *ngIf="registerForm.get('name')!.invalid&&registerForm.get('name')!.dirty">
                        <li *ngIf="registerForm.get('name')!.hasError('required')">Name is required</li>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input [formControlName]="'email'" type="email" class="form-control" placeholder="Enter email">
                    <ul class="text-danger" *ngIf="registerForm.get('email')!.invalid&&registerForm.get('email')!.dirty">
                        <li *ngIf="registerForm.get('email')!.hasError('required')">Email is required</li>
                        <li *ngIf="registerForm.get('email')!.hasError('pattern')"> {{registerForm.get('email')?.value}} is not email format (@gmail.com)</li>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input [formControlName]="'pass'" type="password" class="form-control" placeholder="Password">
                    <ul class="text-danger" *ngIf="registerForm.get('pass')!.invalid&&registerForm.get('pass')!.dirty">
                        <li *ngIf="registerForm.get('pass')!.hasError('required')">Password is required</li>
                    </ul>
                </div>
                <p (click)="routeToLogin()" class="text-center text-muted mt-2 mb-0 ">Have already an account? <span>Login here!</span></p>
                <button class="btn btn-success">Register</button>
            </form>
        </div>
    </div>
</div>