.setting {
    margin-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 100px;
    background-color: #E8F6EF;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

label {
    margin-bottom: 0;
    font-weight: 700;
}

input {
    margin-top: 0;
    margin-bottom: 0;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0 0.08rem rgb(0 123 255 / 25%);
}

input.ng-dirty.ng-invalid {
    border: red 2px solid;
}

ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

li {
    list-style: none;
    text-align: left;
    font-size: 12px;
    margin: 0;
    padding: 0;
    color: red;
}

h3 {
    text-align: center;
    padding: 20px 0;
}

.signUp {
    text-align: center;
}

span {
    font-size: 16px;
    color: red;
}

.inputPass {
    position: relative;
}

svg {
    z-index: 20;
    right: 10px;
    position: absolute;
    top: 50%;
    height: 100px;
    margin-top: -50px;
}

.avatarContainer {
    position: relative;
    text-align: center;
}

.avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.avatarIcon {
    all: unset;
}

#overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 200000;
    cursor: pointer;
}

.btnUpdate {
    border: 1px solid white;
    background-color: #FFB319;
}