<div class="container">
    <form>
        <input type="text" class="form-control" placeholder="Article Title" [ngModelOptions]="{standalone: true}" [(ngModel)]="title">
        <input type="text" class="form-control" placeholder="What is the article about?" [ngModelOptions]="{standalone: true}" [(ngModel)]="maincontent">
        <textarea class="form-control" rows="3" placeholder="Write your article (in markdown)" [ngModelOptions]="{standalone: true}" [(ngModel)]="markdown"></textarea>
        <input type="text" placeholder="Enter tag" (keypress.onEnter)="getTag(tag)" [ngModelOptions]="{standalone: true}" [(ngModel)]="tag">
    </form>
    <button class="btn btn-success" (click)="publishArticle(title,maincontent,markdown)">Publish Article</button>
</div>