<div class="profile">
    <div class="header bg-light">
        <div class="container px-5">
            <div class="profile-info text-center">
                <img class="avatar-big mb-3" [src]="userAccount?.profile?.image" />
                <h3>{{userAccount?.profile?.username}}</h3>
            </div>
            <div class="action-btn d-flex justify-content-end">
                <button *ngIf="userAccount?.profile?.username === currentUserName; else followBtn" type="button" class="btn btn-outline-secondary" routerLink="/setting">
          <i class="fas fa-cog"></i>
          Edit Profile
        </button>
                <ng-template #followBtn>
                    <button type="button" class="btn btn-outline-secondary" (click)="handleToggleFollow()">
            <i class="fas fa-minus" *ngIf="isFollow; else unfollow"></i>
            <ng-template #unfollow>
              <i class="fas fa-plus" ></i>
            </ng-template>
            {{isFollow ? 'UnFollow' : 'Follow'}}
          </button>
                </ng-template>
            </div>
        </div>
    </div>
    <div class="container px-5 my-5 article-toggle">
        <ul class="nav">
            <li class="nav-item ">
                <a class="nav-link text-muted" aria-current="page" routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}">My Articles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-muted" routerLink="favorites" routerLinkActive="active">Favorited Articles</a>
            </li>
        </ul>
        <hr class="my-0">
        <router-outlet></router-outlet>
    </div>
</div>