a {
    cursor: pointer;
}

.menu {
    font-size: 1rem;
}

.avatar {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.bg-nav {
    background-color: #FFB319;
}

.nav-item {
    font-weight: 500;
    font-size: 18.5px;
}

.nav-link.active {
    /* color:#678983!important; */
    color: blue !important;
}

.nav-item.active .nav-link,
.nav-item.active i {
    /* color: #678983!important; */
    color: blue !important;
}