.avatar {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    cursor: pointer;
}

.author-name {
    cursor: pointer;
    font-size: 19px;
    font-weight: 500;
}

.author-name:hover {
    text-decoration: underline white solid 2px;
}

ul li {
    list-style: none;
    display: inline-block;
    margin-right: 5px;
}

ul li .tag {
    border: 1px solid #666161;
    border-radius: 15px;
    padding: 0 0.5rem;
    color: #666161;
}

.article {
    box-shadow: 0.5px 0.5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.author-info {
    background-image: linear-gradient(to right, #56ab2f, #a8e063);
    border-radius: 5px 5px 0 0;
}

.article-info {
    cursor: pointer;
}

.description {
    color: #e8e3e3;
}

.article-detail {
    color: white;
    background-color: #055699;
}

.likedArt {
    color: #56ab2f;
    background-color: transparent!important;
    border-color: #56ab2f;
}