.avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.author-name {
    cursor: pointer;
}

.author-name:hover {
    text-decoration: underline green solid 2px;
    font-weight: 450;
}

ul li {
    list-style: none;
    display: inline-block;
    margin-right: 5px;
}

ul li .tag {
    border: 1px solid #666161;
    border-radius: 15px;
    padding: 0 0.5rem;
    color: #666161;
}

.article-info {
    cursor: pointer;
}

.description {
    color: #e8e3e3;
}

.article-detail {
    color: #d6d1d1;
}