<div class="container home">
    <div class="row">
        <div class="col-9">
            <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
                <li (click)="setNavName()" *ngIf="showYourFeed" [ngbNavItem]="1" routerLink="./yourfeed">
                    <a ngbNavLink>Your Feed</a>

                </li>
                <li (click)="setNavName()" [ngbNavItem]="2" routerLink="./global" name="global">
                    <a ngbNavLink>Global Feed</a>

                </li>
                <li (click)="setNavName()" [ngbNavItem]="3">
                    <a ngbNavLink>{{tagName}}</a>

                </li>
            </ul>
            <div [ngbNavOutlet]="nav" class="mt-2">
            </div>

        </div>
        <div class="col-3">

        </div>
    </div>
    <router-outlet></router-outlet>
</div>
