.home {
    margin-bottom: 6rem;
    margin-top: 20px;
}
/* [nam]  */
.nav {
  display: flex;
  align-items: center;
}
.nav-link {
  font-size: 18px;
}
.nav-link.active {
  color: #FFB319!important;
  border-bottom: 2px solid #FFB319!important;
}
