.main_editor {
    background-color: white;
    padding-bottom: 6rem;
}

.header_manage {
    background-color: #B8DFD8;
    color: black;
    padding: 30px 0;
    margin-bottom: 30px;
}

.content {
    background-color: #FFE194;
    border-radius: 10px;
    box-shadow: 3px 5px 5px rgb(255, 247, 209);
}

.btn-post {
    background-color: #FFB319;
    border: #FFB319;
}

.body {
    margin-top: 20px;
    padding: 30px 0 25px 30px;
}

.user_area {
    padding: 30px 0;
    justify-content: center;
    align-items: center;
}

span {
    color: blue;
    border-bottom: 1px solid blue;
    margin-right: 3px;
}

.first_area {
    justify-content: start;
}

.user_area p {
    margin-bottom: 0;
}

img,
.user {
    margin-right: 3px;
}

img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
}

.user_area .btn {
    margin-right: 3px;
}

.postcomt {
    padding: 10px;
    background-color: #B8DFD8;
}

.cmt_area {
    border: 1px solid rgb(233, 233, 233);
}

.cmt_area textarea {
    background-color: white;
    color: black;
    padding: 10px;
}

.cmt-user p {
    margin-bottom: 0;
    font-size: 15px;
    font-weight: bold;
}